@import 'app/libs/popup/dist/magnific-popup'
@import 'app/libs/superfish/src/css/superfish'
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700')


//----------------------------var----------------------------//

$main-color: #454647

$menu-color: #999999

$main-font-color: #000000

$accent-color: #e92c39

//-----------------tabs-------------------//
ul.tabs li
    background: none
    color: #222
    cursor: pointer
ul.tabs li.current
    background: #fff
    color: #222
    border-bottom: none
.tab-content
    display: none
    background: #fff
.tab-content.current
    display: inherit
ul
    margin: 0
    padding: 0
    list-style-type: none
body
    font-family: 'Open Sans', Arial, sans-serif
    header
        .top-menu
            background-color: #f0f3f8
            padding: 15px 0
            .menu
                padding: 0
                ul
                    display: flex
                    padding: 5px 0
                    li
                        padding: 0 5px
                        &:first-child
                            padding-left: 0
                            a
                                font-size: 14px
                                color: #ffffff
                                text-decoration: none
                                background-color: $accent-color
                                padding: 5px 20px
                                border-radius: 20px
                        a
                            font-size: 14px
                            color: $main-color
                            text-decoration: none

                            i
                                margin-left: 5px
            .log-in
                padding: 0
                ul
                    float: right
                    display: flex
                    li
                        padding: 0 10px
                        &:nth-child(2)
                            i
                                &:nth-child(2)
                                    margin-left: 5px
                        a
                            color: $main-color

                            i
                                font-size: 24px
                        &:first-child
                            padding-left: 0
                        &:last-child
                            padding-right: 0
        .top-info
            padding:
                top: 20px
                bottom: 20px
            .logo
                padding-right: 0
                a
                    img
                        width: 100%
                        max-width: 260px
            .info
                padding: 0
                ul
                    width: 100%
                    display: flex
                    justify-content: space-between
                    li
                        h4
                            font-size: 15px
                            color: $main-color
                            a
                                text-decoration: underline
                                color: $main-color
                        &:first-child
                            p
                                color: #2c2c2c
                        p
                            margin: 0
                            font-size: 15px
                            color: #454647
        .catalog
            background-color: rgba(240, 243, 248, 0.4)
            ul
                display: flex
                justify-content: space-around
                li
                    padding: 20px 2px
                    flex-basis: 125px
                    border-top: 3px solid rgba(255, 255, 255, 0)
                    transition: all 0.3s
                    &:hover
                        border-top: 3px solid $accent-color
                        transition: all 0.3s
                    a

                        display: flex
                        flex-direction: column
                        align-items: center
                        filter: grayscale(100%)
                        transition: all 0.3s
                        &:hover
                            filter: grayscale(0%)
                            transition: all 0.3s
                            text-decoration: none
                        .cont-img
                            display: flex
                            height: 42px
                            img
                                align-self: flex-end

                        .cont-text
                            h4
                                margin: 10px 0 0 0
                                font-size: 15px
                                color: $main-color
                                text-align: center
    .content
        .nav-bar
            padding: 30px 0 50px
            ul
                display: flex
                align-items: center
                li
                    padding: 0 10px
                    color: #666666
                    font-size: 13px
                    &:last-child
                        a
                            color: $main-color
                    a
                        font-size: 15px
                        color: #999999


@media screen and (max-width: 768px)
    .log-in ul li a i
        font-size: 20px!important
    .info ul li:first-child
        display: none!important
    .info ul
        justify-content: flex-end!important

@media screen and (max-width: 750px)
    ul.sf-menu
        display: none!important
    .catalog
        display: none!important
    .nav-bar
        display: none!important

@media screen and (max-width: 560px)
    .info
        display: none!important
    .logo
        display: none!important
